@tailwind base;
@tailwind components;
@tailwind utilities;

*{
  min-width: 0;
}

.container {
  width: 100%;
  max-width: 100%;
  margin: 0 auto;
}

.slide-item{
  width: 77%;
  height: 70%;

}

body{
  background-color: #fbfbfb;
}